@tailwind base;
@tailwind components;
@tailwind utilities;

div[data-overlay-container=true] {
  display: flex;
  flex-direction: column;

  height: 100%;
}

#problemEditorTabLayout::-webkit-scrollbar {
  width: .5rem;
}

#problemEditorTabLayout::-webkit-scrollbar-thumb {
  background-color: #4B5563;
  border-radius: 2rem;
}