@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 0%;
    --card: 0 0% 100%;
    --card-foreground: 240 6.67% 2.94%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.92%;
    --primary: 240 5.88% 10%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 4.76% 95.88%;
    --secondary-foreground: 240 5.88% 10%;
    --muted: 240 4.76% 95.88%;
    --muted-foreground: 240 3.83% 46.08%;
    --accent: 240 4.76% 95.88%;
    --accent-foreground: 240 5.88% 10%;
    --destructive: 0 72% 50.98%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 240 5.88% 90%;
    --input: 270 3.12% 87.45%;
    --ring: 240 5.03% 64.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 150 6.67% 5.88%;
    --foreground: 55.86 93.55% 93.92%;
    --card: 150 6.67% 5.88%;
    --card-foreground: 55.86 93.55% 93.92%;
    --popover: 240 10% 3.92%;
    --popover-foreground: 0 0% 98.04%;
    --primary: 55.86 93.55% 93.92%;
    --primary-foreground: 240 5.88% 10%;
    --secondary: 240 3.7% 15.88%;
    --secondary-foreground: 0 0% 98.04%;
    --muted: 240 3.7% 15.88%;
    --muted-foreground: 240 5.03% 64.9%;
    --accent: 240 3.7% 15.88%;
    --accent-foreground: 0 0% 98.04%;
    --destructive: 0 62.03% 30.98%;
    --destructive-foreground: 0 0% 98.04%;
    --border: 60 5.53% 46.08%;
    --input: 240 3.7% 15.88%;
    --ring: 240 4.88% 83.92%;
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
